[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-numbertoggle"]
	path = vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
