*.last-run
*.cache
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/storage
atom/.apm
atom/.npm
atom/.node-gyp
gnupg/*keys*.d
gnupg/random_seed
gnupg/*ring.gpg*
gnupg/trustdb.gpg
gnupg/*migrated
gnupg/tofu.db
