*.last-run
*.cache
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/storage
atom/.apm
atom/.npm
atom/.node-gyp
gnupg/private-keys-v1.d
gnupg/random_seed
gnupg/secring.gpg
gnupg/trustdb.gpg
